<Error>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <CascadingValue Value="this">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        <Login />
                    </NotAuthorized>
                </AuthorizeRouteView>
            </CascadingValue>
           
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <LayoutView Layout="@typeof(NotFoundLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
    </Router>
</Error>

@code
{
    private Type LayoutType = typeof(MainLayout);
    protected override async Task OnInitializedAsync()
    {
        _global.IsMobileView = await _jsRuntime.InvokeAsync<bool>("getIsMobileView");
        //if (_global.IsMobileView)
        //{
        //    LayoutType = typeof(NoAppBarLayout);
        //}
        //else
        //{
        //    LayoutType = typeof(MainLayout);
        //}
    }

    public void SetLayout(Type layout)
    {
        this.LayoutType = layout;
        StateHasChanged();
    }
}
